h1 {
    text-align: center;
    //responsive font size
    font-size: 3.75vw;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background-color: #bee076;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 7vw;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
}

nav > * {
    margin-right: 3vw;
}

.links {
    color: #333;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    font-size: 1.2rem;
}

.sub-categories a {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

.active {
    color: rgb(51, 144, 224);
    text-decoration: underline;
    font-size: 1.6em;
}

.sub-active {
    color: rgb(148, 100, 216);
    text-decoration: underline;
    font-size: 1.25em;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bee076;
    z-index: 1000;
}

// .infos {
//     //center vertically
//     position: absolute;
//     top: -1%;
//     right: 0;
// }

@media only screen and (hover: none) and (pointer: coarse) {
    header {
        height: 20vw;
        h1 {
            font-size: 10vw;
        }
    }
    nav #home {
        display: none;
    }
    nav #champ {
        display: none;
    }

    nav > * {
        margin-right: 0px;
    }
}

@media (max-width: 800px) {
    nav #home {
        display: none;
    }
    nav #champ {
        display: none;
    }
}
