h1 {
    text-align: center;
    //responsive font size
    font-size: 2rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background-color: #bee076;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 4rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 700px;
}

.links {
    margin: 0 30px;
    color: #333;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

a {
    text-decoration: none;
    color: #333;
}

.active {
    color: rgb(51, 144, 224);
    text-decoration: underline;
    font-size: 1.35em;
}

.sub-active {
    color: rgb(148, 100, 216);
    text-decoration: underline;
    font-size: 1.15em;
}
