<header>
    <nav>
        <button (click)="navigateToHome()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}"
            class="links">Home</button>
        <button (click)="navigateToHome()">
            <h1>League Viewer</h1>
        </button>
        <button (click)="navigateToChampions()" routerLinkActive="active" class="links">Champions</button>
        <div *ngIf="displaySubmenu">
            <button (click)="navigateToLore()" routerLinkActive="sub-active" class="links">Lore</button>
            <button (click)="navigateToSkins()" routerLinkActive="sub-active" class="links">Skins</button>
            <button (click)="navigateToAll()" routerLinkActive="sub-active" class="links">All</button>
        </div>
        <app-language></app-language>
    </nav>
</header>