<header>
    <nav>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" class="links">Home</a>
        <a routerLink="">
            <h1>League Viewer</h1>
        </a>
        <a routerLink="champions" routerLinkActive="active" class="links">Champions</a>
        <div *ngIf="displaySubmenu">
            <a routerLink="champions/lore" routerLinkActive="sub-active" class="links">Lore</a>
            <a routerLink="champions/skins" routerLinkActive="sub-active" class="links">Skins</a>
            <a routerLink="champions/all" routerLinkActive="sub-active" class="links">All</a>
            <app-language></app-language>
        </div>
        <app-infos></app-infos>
    </nav>
</header>