h1 {
    text-align: center;
    //responsive font size
    font-size: 3.75vw;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background-color: #432c7a;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 5vw;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
}

nav > * {
    margin-right: 3vw;
}

.links {
    color: #000;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    font-size: 1.3em;
}

a {
    text-decoration: none;
    color: #000;
}

.sub-categories a {
    margin-left: 20px;
}

.sub-categories {
    display: flex;
    flex-direction: row;
}

.active {
    color: #ad4eb8;
    text-decoration: underline;
    font-size: 1.8em;
}

.sub-active {
    color: rgb(148, 100, 216);
    text-decoration: underline;
    font-size: 1.7em;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bee076;
    z-index: 1000;
}

.languages {
    float: right;
    margin-right: 1rem;
}

// .infos {
//     //center vertically
//     position: absolute;
//     top: -1%;
//     right: 0;
// }

@media (max-width: 800px) {
    nav #home {
        display: none;
    }
    nav #champ {
        display: none;
    }
    header {
        height: 12vw;
        h1 {
            font-size: 6vw;
        }
    }
}

@media (max-width: 1500px) {
    header {
        height: 8vw;
        h1 {
            font-size: 4.5vw;
        }
    }
}

@media (max-width: 1300px) {
    header {
        height: 9.5vw;
        h1 {
            font-size: 5vw;
        }
    }
}

@media (max-width: 1000px) {
    header {
        height: 11vw;
        h1 {
            font-size: 5.5vw;
        }
    }
}

@media only screen and (hover: none) and (pointer: coarse) {
    header {
        height: 27vw;
        h1 {
            font-size: 10vw;
        }
    }
    nav #home {
        display: none;
    }
    nav #champ {
        display: none;
    }

    nav > * {
        margin-right: 0px;
    }

    .sub-categories {
        flex-direction: column;
    }

    .sub-active {
        font-size: 1.3em;
    }
}
