select {
    // height: 1.5em;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 17px;
    font-size: 1.3vw;
    //center vertically
}

@media (max-width: 900px) {
    select {
        font-size: 4vw;
    }
}
