.mdiv {
    height: 40px;
    width: 5px;
    background-color: black;
    transform: rotate(45deg);
    z-index: 1;
}

.md {
    height: 40px;
    width: 5px;
    background-color: black;
    transform: rotate(90deg);
    z-index: 2;
}

#mdiv {
    transform: scale(1);
    transition: all 0.3s ease;
}

@media only screen and (hover: none) and (pointer: coarse) {
    button {
        transform: scale(0.7);
    }
}
