.champion {
    margin: 0 auto;
    width: 50%;
    padding: 10px 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    #title {
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }
    #main-img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    #close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.5em;
        font-weight: bold;
        margin: 10px;
        background: none;
        border: none;
        cursor: pointer;
        &:hover {
            .mdiv {
                opacity: 1;
                visibility: visible;
            }
            .md {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    p {
        font-weight: 300;
        font-size: 16px;
    }
    .displaying {
        margin-top: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background: #9bafd9;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 16px;
        width: 100%;
        transition: 0.5s;
        &:hover {
            background: #709de4;
            transition: 0.5s;
        }
        cursor: pointer;
    }
    transition: all 0.5s;
}

#mdiv {
    width: 25px;
    height: 25px;
    background-color: rgb(217, 35, 35);
    border: 1px solid black;
    border-radius: 50%;
}

.mdiv {
    height: 25px;
    width: 1px;
    margin-left: 12px;
    background-color: black;
    transform: rotate(45deg);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.2s ease;
}

.md {
    height: 25px;
    width: 1px;
    background-color: black;
    transform: rotate(90deg);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.2s ease;
}
