.champion {
    box-sizing: border-box;
    width: 20%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    h1 {
        margin-bottom: 0;
    }
    #title {
        font-size: 3.5em;
        font-weight: bold;
    }
    p {
        font-weight: 300;
        font-size: 16px;
    }
    button {
        margin-top: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background: #9bafd9;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        &:hover {
            background: #7dd5f8;
            //shadow on hover
            box-shadow: 0 0 10px #7dd5f8;
        }
    }
}
