<app-league-champion-list></app-league-champion-list>
<div *ngIf="champion" class="champion"
    [ngClass]="[champion.loaded ? 'background--custom-champ' : '', type == 'names' ? 'no-width' : 'width']">
    <div *ngIf="champion.loaded">
        <div class="top">
            <h1 id=" title">{{champion.skins[champion.currentSkin].name | titlecase}}</h1>
            <div *ngFor="let role of champion.roles" class="role">
                <h2>{{role}}</h2>
                <img src="assets/roles/{{role}}.webp" alt="{{role}}">
            </div>
            <app-close-champion id="close"></app-close-champion>
        </div>
    </div>
    <div *ngIf="(type == 'skins' || type == 'all')">
        <app-league-champion-skins [champion]="champion">
        </app-league-champion-skins>
    </div>
    <div *ngIf="(type == 'lore' || type == 'all') && champion.loaded || type == 'lore'">
        <app-league-champion-lore [lore]="champion.lore"></app-league-champion-lore>
    </div>
</div>