.champion {
    margin: 0 auto;
    width: 36vw;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    #title {
        font-size: 3vw;
        font-weight: bold;
        text-align: center;
    }
    transition: all 0.5s;
}

.no-width {
    width: auto;
    h1 {
        font-size: 5vw;
    }
}

.width {
    width: 40vw;
    h1 {
        font-size: 3vw;
    }
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top #close {
    margin-top: -2%;
}

h1 {
    margin: 1.5%;
}

@media (max-width: 1300px) {
    .width {
        width: 65vw;
    }
    .champion {
        padding: 10px;
    }
}

@media (max-width: 800px) {
    .width {
        width: 75vw;
        h1 {
            font-size: 4vw;
        }
    }
    .no-width {
        h1 {
            font-size: 4em;
        }
    }
    .champion {
        padding: 10px;
    }
}

@media only screen and (hover: none) and (pointer: coarse) {
    .width {
        width: 85%;
        h1 {
            font-size: 7vw;
        }
    }
    .no-width {
        h1 {
            font-size: 3em;
        }
    }
    .champion {
        padding: 10px;
    }
}
