#main-img {
    max-width: 85%;
    max-height: 85%;
    border-radius: 20px;
    object-fit: contain;
    //center image
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.arrow-left {
    width: 1.5vw;
    height: 1.5vw;
    border-right: 0.8vw solid #000;
    border-bottom: 0.8vw solid #000;
    transform: rotate(135deg);
    transition: all 0.3s ease;
    display: block;
    content: "";
    &:hover {
        border-right: 0.8vw solid #bb0303;
        border-bottom: 0.8vw solid #bb0303;
    }
}

.arrow-right {
    width: 1.5vw;
    height: 1.5vw;
    border-right: 0.8vw solid #000;
    border-bottom: 0.8vw solid #000;
    transform: rotate(-45deg);
    transition: all 0.3s ease;
    display: block;
    content: "";
    &:hover {
        border-right: 0.8vw solid #bb0303;
        border-bottom: 0.8vw solid #bb0303;
    }
}

#arrow-left {
    cursor: pointer;
    background: none;
    border: none;
}

#arrow-right {
    cursor: pointer;
    background: none;
    border: none;
}

.content {
    display: flex;
    justify-content: center;
}

.swipe {
    display: none;
    margin-top: 3%;
}

@media only screen and (hover: none) and (pointer: coarse) {
    #arrow-left {
        display: none;
    }
    #arrow-right {
        display: none;
    }

    .swipe {
        display: block;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1500px) {
    .arrow-left {
        width: 2.5vw;
        height: 2.5vw;
        border-right: 1.2vw solid #000;
        border-bottom: 1.2vw solid #000;
        &:hover {
            border-right: 1.2vw solid #bb0303;
            border-bottom: 1.2vw solid #bb0303;
        }
    }
    .arrow-right {
        width: 2.5vw;
        height: 2.5vw;
        border-right: 1.2vw solid #000;
        border-bottom: 1.2vw solid #000;
        &:hover {
            border-right: 1.2vw solid #bb0303;
            border-bottom: 1.2vw solid #bb0303;
        }
    }
}

@media (max-width: 900px) {
    .arrow-left {
        width: 2.5vw;
        height: 2.5vw;
        border-right: 1.5vw solid #000;
        border-bottom: 1.5vw solid #000;
        &:hover {
            border-right: 1.5vw solid #bb0303;
            border-bottom: 1.5vw solid #bb0303;
        }
    }
    .arrow-right {
        width: 2.5vw;
        height: 2.5vw;
        border-right: 1.5vw solid #000;
        border-bottom: 1.5vw solid #000;
        &:hover {
            border-right: 1.5vw solid #bb0303;
            border-bottom: 1.5vw solid #bb0303;
        }
    }
}
