.links {
    display: flex;
    align-items: center;
    font-size: 4vw;
}

.links a {
    text-decoration: none;
    color: #000;
}

.links > a {
    margin-right: 20px;
}

.links p:hover {
    text-decoration: underline;
}

.links img {
    width: 2.5vw;
    height: auto;
}

.links p {
    font-size: 2vw;
}

@media only screen and (hover: none) and (pointer: coarse) {
    .links {
        display: none;
    }
}
