.champions {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9%, 1fr));
    grid-gap: 1rem;
    margin: 1rem;
    margin-top: 0;
}

@media only screen and (hover: none) and (pointer: coarse) {
    .champions {
        grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
    }
}

@media (max-width: 1200px) {
    .champions {
        grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
    }
}

@media (max-width: 650px) {
    .champions {
        grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
    }
}

@media (max-width: 500px) {
    .champions {
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    }
}
