#main-image {
    width: 10%;
    height: auto;
}

#lang {
    height: 10vw;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container {
    height: auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 15rem;
    margin-top: 40px;
    margin-bottom: 40px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    a {
        background-color: #f2f2f2;
        border-radius: 5px;
        padding: 50px 100px;
        transition: all 0.2s ease;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        width: 7rem;

        &.red {
            background-color: #e74c3c;
            color: #fff;
        
            &:hover {
                background-color: #c0392b;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
            }
        }
    
        &.green {
            background-color: #2ecc71;
            color: #fff;
        
            &:hover {
                background-color: #27ae60;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
            }
        }
    
        &.blue {
            background-color: #3498db;
            color: #fff;
        
            &:hover {
                background-color: #2980b9;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
            }
        }
    
        &.purple {
            background-color: #9b59b6;
            color: #fff;
        
            &:hover {
                background-color: #8e44ad;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
            }
        }
    
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
            background-color: darken(#f2f2f2, 5%);
        }
    
        .link {
            color: #333;
        
            p {
                margin: 0;
                font-size: 30px;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }
}

@media (max-width: 800px) {
    #main-image{
        width: 25%;
    }

    .images{
        flex-direction: column;
    }
}