.landing-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing-links {
    width: 100%;
    text-align: center;
}

#main-image {
    //responsive image
    width: 100%;
    height: auto;
    //background image
}
