<div class="container">
    <div class="images">
        <img src="assets/landing-page.png" alt="Landing page" id="main-image" />
        <div *ngIf="languageCharged">
            <img src="https://flagcdn.com/h120/{{languageCharged.code.slice(-2) | lowercase}}.png"
                alt={{languageCharged.name}} id="lang">
        </div>
    </div>
    <div class="links">
        <a routerLink="champions/names" class="red">
            <div class="link">
                <p>Names</p>
            </div>
        </a>
        <a routerLink="champions/lore" class="green">
            <div class="link">
              <p>Lore</p>
            </div>
        </a>
        <a routerLink="champions/skins" class="blue">
            <div class="link">
                <p>Skins</p>
            </div>
        </a>
        <a routerLink="champions/all" class="purple">
            <div class="link">
                <p>All</p>
            </div>
        </a>
    </div>
</div>
