/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "league";
    src: url("./assets/fonts/Friz Quadrata Regular.ttf");
}

* {
    font-family: "league";
}

.background--custom-champ {
    background: linear-gradient(90deg, #40a9e1, #edf052, #e08ab1);
    background-size: 300% 300%;
    animation: gradient 3s alternate infinite;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

body {
    padding: 0;
    margin: 0;
    background-color: #9876e0;
}
