p {
    color: rgb(176, 59, 226);
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%);
    font-size: 3vw;
    font-weight: 400;
    width: 140%;
}

.champion {
    margin: 0 auto;
    width: 25vw;
    height: 25vw;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    z-index: 1000;
}

.lds-ring {
    display: inline-block;
    position: fixed;
    top: 33%;
    left: 42%;
    transform: translate(-50%, -50%);
    width: 13vw;
    height: 13vw;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 16vw;
    height: 16vw;
    margin: 8px;
    border: 20px solid #cef;
    border-radius: 50%;
    animation: lds-ring 1.4s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(176, 59, 226) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1000px) {
    p {
        font-size: 5vw;
    }
}

@media only screen and (hover: none) and (pointer: coarse) {
    .champion {
        width: 38vw;
        height: 33vw;
    }

    p {
        font-size: 7vw;
    }

    .lds-ring {
        width: 18vw;
        height: 18vw;
    }

    .lds-ring div {
        width: 22vw;
        height: 22vw;
    }
}
